table {
    margin-left: auto;
    margin-right: auto;
}

table tr.password th {
    background-color: #f2f2f2;
}

table tr.password th,
table tr.password td {
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}

.buttons {
    text-align: center;
}
